table{
  text-align: center;
  width: 100%;
}

.box{
  margin: 10px auto;
}

.box_2{
  height: 210px;
  width: 200px;
  margin: 10px auto;
}

.title{
  margin-top: 10px;
}

.throw_first{
  height: 10px;
}
